* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  font-size: 16px;

  --primary-color: #000000;
  --secondary-color: #ffffff;

  --hover-color: #3d3d3d;
  --btn--color: #d7d5d5;
}

.header {
  width: 100%;
  height: 5rem;
  padding: 2.5rem;

  display: flex;
  justify-content: right;
  align-items: center;

  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.menu {
  display: flex;
  list-style: none;
  gap: 5rem;
}

.menu-button {
  text-decoration: none;

  transition: 0.8s;

  font: size 2rem;
  color: var(--secondary-color);
  cursor: pointer;
}

.menu-button:hover {
  border-bottom: 4px solid var(--hover-color);
  transition: 0.5;
}

.page-principal {
  margin: 0 auto;
  max-width: 80%;
  min-height: 50rem;
  gap: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-perfil {
  width: 100%;
  height: 30rem;
}

.photo {
  border-radius: 100%;
  height: 30rem;
}

.presentation-name {
  font-size: 1rem;
  letter-spacing: 8px;
  line-height: 4rem;
}

.presentation-profession {
  font-size: 4rem;
}

.presentation-paragraph {
  font-size: 1.5rem;
  text-align: justify;
  margin-top: 2.4rem;
}

.button-curriculum {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 16px 48px;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;

  width: 22rem;

  background: var(--btn--color);
  border: none;
  border-radius: 4px;
}

.presentation .redes-contact {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 8rem;
  font-size: 1.4rem;
}

.page-principal .redes-contact .icon-contact {
  width: 2rem;
  cursor: pointer;
  transition: 0.5s;
}

.icon-button {
  width: 3.5rem;
}

/* serviços prestados, segunda página */

.serviços,
.projetos {
  width: 80%;
  height: 100vh;
  margin: 3rem auto;

  gap: 6rem;
}

h2 {
  text-align: center;
}

.meus-serviços,
.recentes-projetos {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 200px;
  height: 200px;
  border: 1px solid var(--btn--color);
  border-radius: 10px;
}

.footer .redes-contact {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-weight: 500;
  margin: 20px;
}

.footer .icon-contact {
  width: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}
